.hero {
  background-image: url("../img/wall.png");
  height: 100px;
  text-align: center;
}
body {
  background-image: url("../img/cork.png");
  font-family: "Edu TAS Beginner", cursive;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
.title {
  font-size: 60px;
  transform: translateY(25px);
}
