.hero {
  background-image: url("../img/wall.png");
  height: 100px;
  text-align: center;
}
body {
  background-image: url("../img/cork.png");
  font-family: "Edu TAS Beginner", cursive;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
.title {
  font-size: 60px;
  transform: translateY(25px);
}
/*OVERLAY*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.overlay-content {
  text-align: center;
}
.overlay img {
  max-width: 90%;
  max-height: 70vh;
  border-radius: 10px;
}
