.hero {
  background-image: url("../img/wall.png");
  height: 100px;
  text-align: center;
}
body {
  background-image: url("../img/cork.png");
}

body {
  font-family: "Edu TAS Beginner", cursive;
}
